body {
  font:12px/1.6 arial,helvetica,sans-serif;
  color:#4d4d4d;
  background:#F7FAFB;
  font-family:'Helvetica Neue',Arial,'Liberation Sans',
              FreeSans,'Hiragino Sans GB',sans-serif;
  font-size:1.125em;
  -webkit-font-smoothing:antialiased;
  margin:0;
  padding:0;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  color:#000;
  margin:15px 0;
}

h3 {
  font-size:18px;
}

hr {
  width:10%;
  border:1px solid #eee;
}

.content h3 {
  font-weight:bolder;
  color:#000;
}

.container {
  max-width:700px;
  background:#FFF;
  overflow:hidden;
  padding:20px;
}

.banner {
  font-size:14px;
  margin:0 auto 20px -16px;
}

.title {
  font-size:3.6em;
  margin-left:-5px;
  margin-bottom:30px;
}

.justtitle {
  font-size: 17px;
  margin-left: 5px;
  margin-bottom:20px;
  font-weight: normal;
}

.eof {
  text-align: center;
  font-size: 16px;
}

.content,blockquote {
  font-size:18px;
  line-height:2.2em;
  color:#41464a;
}

.content img {
  height:auto;
  display:inline-block;
  margin:10px auto;
}

blockquote p {
  font-weight:400;
  line-height:2.3em;
  font-size:16px;
}

.author {
  margin-bottom:23px;
  color:#bababa;
  font-size:14px;
}

.author img {
  width:30px;
  height:30px;
  border-radius:30px;
  margin-right:5px;
}

.more .title {
  font-size:1.1em;
}

.forb {
  text-align:right;
  font-size:16px;
  margin-bottom:20px;
}

.footer {
  text-align:center;
  margin-top:30px;
  font-size:14px;
  color:gray;
}

.date {
  color:#FFF;
  font-weight:bolder;
  text-transform:uppercase;
}

.date a:link {
  color:#FFF;
  text-decoration:none;
  margin:0 2px;
  padding:3px;
}

.date a:visited {
  color:#FFF;
  text-decoration:none;
}

blockquote {
  border-left:2px solid #eeeeee;
}

.footer a:link {
  color:gray;
  text-decoration:none;
  margin:0 2px;
  padding:3px;
}

.banner a:hover {
  color:gray;
  text-decoration:none;
  background:#FFF;
}

.comments a:link {
  color:gray;
  text-decoration:none;
  margin:0 2px;
  padding:3px;
}

.comments a:visited {
  color:gray;
  text-decoration:none;
}

a:link {
  text-decoration:none;
}

.content strong {
  color:#000;
}

.comments {
  margin-bottom:30px;
  margin-top:50px;
}

.comments .comment {
  font-size:16px;
}

.archive,.content {
  list-style:none;
  padding:0;
}

.archive li,.content li {
  line-height:25px;
  margin:0 0 10px;
  padding:0;
}

.archive li time {
  color:#989990;
}

.archive .year {
  color:#000;
  font-weight:700;
  text-transform:uppercase;
  margin:25px 0;
}

ul,ol {
  list-style:none;
  margin:0;
}

code {
  border:1px dashed #ccc;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  box-shadow:inset 1px 1px #FFF;
  color:#000;
  background:#FFF;
  font-size:16px;
  margin: 0 5px 0 5px;
}

pre {
  background:#f4f4f4;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  line-height:3.2em;
  margin-bottom:25px;
  padding:10px;
}

pre code {
  border:none;
  box-shadow:none;
  font-size:16px;
  margin: 0px;
}

#disqus_container .comment {
margin-left:-5px;
}

.info,.suggest {
  color:#bababa;
  font-size:16px;
  text-align:right;
  margin-bottom:20px;
  width:100%;
}

.info,.suggest,.pre {
  float:left;
}

.info,.suggest,.next {
  float:right;
}

.index .title {
  font-size:25px;
}

img {
  width:auto\9;
  height:auto;
  max-width:100%;
  vertical-align:middle;
  border:0;
  -ms-interpolation-mode:bicubic;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.nav-pills > li > a:hover {
  color:gray;
  background-color:#FFF;
}

.poster,.content p,.content ul,.date,.content {
  margin-bottom:30px;
}

.footer a:visited,.forb a:link,.suggest a:link,.forb a:visited,.suggest a:visited {
  color:gray;
  text-decoration:none;
}

.title a:link,.title a:visited,.banner a:link,.banner a:visited {
  color:#41464a;
  text-decoration:none;
}

.content a:visited,.content a:link,.content a:hover {
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  color:gray;
  text-decoration:none;
  margin:0 2px;
  padding:3px;
}

.content a:hover {
  color: #db4937;
}

.justtitle a:hover {
  color: gray;
}

::selection {
  background: #F7FAFB; /* Safari */
}

::-moz-selection {
  background: #F7FAFB; /* Firefox */
}
